{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ url('librarystorage_homepage') }}">Центральное хранилище</a><br/>
<a href="{{ url('library_homepage') }}">Библиотека №1</a><br/>

{% endblock %}

